<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Alerts List of A Vehicle <a href="#/cars">Back</a></h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="search" ng-model="alertVm.searchText.vin.timestamp" placeholder="Search by date here..."
                   class="form-control">
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-bordered stripe" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th ng-click="alertVm.changeSort('vin.vin')">Vin</th>
                <th ng-click="alertVm.changeSort('vin.make')">Make</th>
                <th ng-click="alertVm.changeSort('vin.model')">Model</th>
                <th ng-click="alertVm.changeSort('vin.year')">Year</th>
                <th ng-click="alertVm.changeSort('priority')">Priority</th>
                <th ng-click="alertVm.changeSort('message')">Message</th>
                <th ng-click="alertVm.changeSort('timestamp')">Created Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="alert in alertVm.alertsByVin | filter:alertVm.searchText as search | orderBy:alertVm.sorter.by:alertVm.sorter.reverse">
                <td>{{alert.vin.vin}}</td>
                <td>{{alert.vin.make}}</td>
                <td>{{alert.vin.model}}</td>
                <td>{{alert.vin.year}}</td>
                <td>{{alert.priority}}</td>
                <td>{{alert.message}}</td>
                <td>{{alert.timestamp | date:"medium"}}</td>
            </tr>
            <tr ng-if="search.result == 0">
                <strong>No Results Found</strong>
            </tr>
            </tbody>
        </table>
    </div>
</div>